<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>ITEC - CRDB Number Query</title>
  </head>
  <body>
    <div class="wrapper center"> 
      <div class="center">
        <div class="title">
          <h1 class="margin_zero">Centralized Reference Database</h1>
        </div>
        <div class="subTitle">
          <h2 class="margin_zero" >Number Query Portal</h2>
        </div>
      <div class="margin50 mainfont"> 
        <form  action="/query" method="post">
            <label>Please enter your numbers below seperated by a comma ,</label>
            <br/>
            <textarea rows="5" cols="50" name="number" autofocus></textarea>
            <br/>
            <button type="submit">Query</button>
        </form>
      </div> 
      <table class="center content mainfont">
      <% array.forEach(function(object) { %>
        <tr>
          <th><%= object.number %> </th>
          <th><%= object.id %> </th>
        </tr>
      <% }) %>
    </table>
  </div>
  <div class="footer margin50 center">
    <p >This website is created by Willie Pretorius © <%= year %></p>
  </div>
</div> 

  </body>
</html>
